---
import BaseHead from '../components/BaseHead.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

import BaseLayout from '../layouts/BaseLayout.astro';


---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<ul class="flex flex-col gap-4 m-0 p-0">
		{
			posts.map((post) => (
				<li class="list-none m-0 p-0">
					<a class="text-lg hover:bg-yellow-300 transition-colors" href={`/${post.id}/`} transition:name={post.id + 'title'}>
						<span >{post.data.title}</span>
					</a>
					<div class="text-sm text-gay-400" transition:name={post.id + 'pubData'}>
						<FormattedDate date={post.data.pubDate} />
					</div>
				</li>
			))
		}
	</ul>
</BaseLayout>