---
import type { CollectionEntry } from 'astro:content';
import Player from '../components/Player'
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = {id ?: string} & CollectionEntry<'blog'>['data'];

const { id, title, description, pubDate, updatedDate, heroImage, music } = Astro.props;
---
<BaseLayout title={title} description={description}>
	<Player client:load musicList={music}/>
	<article>
		<div class="hero-image">
			{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="prose flex flex-col gap-4">
			<div>
				<div class="text-gray-400"  transition:name={id + 'pubData'}>
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1 class="text-4xl" transition:name={id + 'title'}>{title}</h1>
			</div>
			<div>
				<slot />
			</div>
		</div>
	</article>
</BaseLayout>
